# CS235F25 HW 2

**Dataset:** Airbnb

# Imports

In [330]:
# [INSERT CODE TO IMPORT NECESSARY PYTHON PACKAGES HERE]

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import OrdinalEncoder

# 0. Load Data / Data Exploration

In [331]:
trainDF = pd.read_csv('train.csv')
testDF = pd.read_csv('test.csv')

C:\Users\reala\AppData\Local\Temp\ipykernel_31656\1745673260.py:1: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  trainDF = pd.read_csv('train.csv')

In [332]:
# Inspected the data type of each feature
trainDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26830 entries, 0 to 26829
Data columns (total 65 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                26830 non-null  int64
 1   name                              26823 non-null  object
 2   summary                           25821 non-null  object
 3   space                             18483 non-null  object
 4   description                       26580 non-null  object
 5   experiences_offered               26830 non-null  object
 6   neighborhood_overview             16010 non-null  object
 7   notes                             10740 non-null  object
 8   transit                           16719 non-null  object
 9   access                            15465 non-null  object
 10  interaction                       14972 non-null  object
 11  house_rules                       16051 non-null  object
 12  host_id                           26830 non-null  int64
 13  host_name                         26826 non-null  object
 14  host_since                        26826 non-null  object
 15  host_location                     26743 non-null  object
 16  host_about                        16333 non-null  object
 17  host_response_time                13832 non-null  object
 18  host_response_rate                13832 non-null  object
 19  host_acceptance_rate              0 non-null      float64
 20  host_is_superhost                 26826 non-null  object
 21  host_neighbourhood                23056 non-null  object
 22  host_listings_count               26826 non-null  float64
 23  host_verifications                26826 non-null  object
 24  host_has_profile_pic              26826 non-null  object
 25  host_identity_verified            26826 non-null  object
 26  neighbourhood_cleansed            26830 non-null  object
 27  neighbourhood_group_cleansed      26830 non-null  object
 28  city                              26799 non-null  object
 29  state                             26822 non-null  object
 30  zipcode                           26437 non-null  object
 31  market                            26759 non-null  object
 32  country_code                      26830 non-null  object
 33  country                           26830 non-null  object
 34  property_type                     26830 non-null  object
 35  room_type                         26830 non-null  object
 36  accommodates                      26830 non-null  int64
 37  bathrooms                         26777 non-null  float64
 38  bedrooms                          26803 non-null  float64
 39  beds                              26803 non-null  float64
 40  bed_type                          26830 non-null  object
 41  amenities                         26830 non-null  object
 42  square_feet                       279 non-null    float64
 43  price                             26830 non-null  float64
 44  guests_included                   26830 non-null  int64
 45  extra_people                      26830 non-null  object
 46  minimum_nights                    26830 non-null  int64
 47  maximum_nights                    26830 non-null  int64
 48  number_of_reviews                 26830 non-null  int64
 49  first_review                      21322 non-null  object
 50  last_review                       21324 non-null  object
 51  review_scores_rating              20725 non-null  float64
 52  review_scores_accuracy            20703 non-null  float64
 53  review_scores_cleanliness         20714 non-null  float64
 54  review_scores_checkin             20688 non-null  float64
 55  review_scores_communication       20706 non-null  float64
 56  review_scores_location            20690 non-null  float64
 57  review_scores_value               20685 non-null  float64
 58  instant_bookable                  26830 non-null  object
 59  is_business_travel_ready          26830 non-null  object
 60  cancellation_policy               26830 non-null  object
 61  require_guest_profile_picture     26830 non-null  object
 62  require_guest_phone_verification  26830 non-null  object
 63  calculated_host_listings_count    26830 non-null  int64
 64  reviews_per_month                 21322 non-null  float64
dtypes: float64(15), int64(8), object(42)
memory usage: 13.3+ MB

In [333]:
# Checked for NULL, NA, and Duplicated row for the target variable 

print(f"Number of NA cells: {trainDF['price'].isna().sum()}")
print(f"Number of NULL cells: {trainDF['price'].isnull().sum()}")
print(f"Number of duplicated cells: {trainDF['price'].duplicated().sum()}") # keep duplicated rows because some Airbnb listings could have the same price

Number of NA cells: 0
Number of NULL cells: 0
Number of duplicated cells: 26301

In [334]:
# Inspect features for duplicates

# Turned off viewing limit
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

print(f"Number of duplicated rows: {trainDF.duplicated().sum()}")

Number of duplicated rows: 0

In [335]:
# Inspect features for NULL/ NA values
print(trainDF.isnull().sum()) # count of na values

id                                      0
name                                    7
summary                              1009
space                                8347
description                           250
experiences_offered                     0
neighborhood_overview               10820
notes                               16090
transit                             10111
access                              11365
interaction                         11858
house_rules                         10779
host_id                                 0
host_name                               4
host_since                              4
host_location                          87
host_about                          10497
host_response_time                  12998
host_response_rate                  12998
host_acceptance_rate                26830
host_is_superhost                       4
host_neighbourhood                   3774
host_listings_count                     4
host_verifications                      4
host_has_profile_pic                    4
host_identity_verified                  4
neighbourhood_cleansed                  0
neighbourhood_group_cleansed            0
city                                   31
state                                   8
zipcode                               393
market                                 71
country_code                            0
country                                 0
property_type                           0
room_type                               0
accommodates                            0
bathrooms                              53
bedrooms                               27
beds                                   27
bed_type                                0
amenities                               0
square_feet                         26551
price                                   0
guests_included                         0
extra_people                            0
minimum_nights                          0
maximum_nights                          0
number_of_reviews                       0
first_review                         5508
last_review                          5506
review_scores_rating                 6105
review_scores_accuracy               6127
review_scores_cleanliness            6116
review_scores_checkin                6142
review_scores_communication          6124
review_scores_location               6140
review_scores_value                  6145
instant_bookable                        0
is_business_travel_ready                0
cancellation_policy                     0
require_guest_profile_picture           0
require_guest_phone_verification        0
calculated_host_listings_count          0
reviews_per_month                    5508
dtype: int64

In [336]:
# Express NA values as percentages
((trainDF.isna().sum()/ len(trainDF)) * 100).round(2)

id                                    0.00
name                                  0.03
summary                               3.76
space                                31.11
description                           0.93
experiences_offered                   0.00
neighborhood_overview                40.33
notes                                59.97
transit                              37.69
access                               42.36
interaction                          44.20
house_rules                          40.18
host_id                               0.00
host_name                             0.01
host_since                            0.01
host_location                         0.32
host_about                           39.12
host_response_time                   48.45
host_response_rate                   48.45
host_acceptance_rate                100.00
host_is_superhost                     0.01
host_neighbourhood                   14.07
host_listings_count                   0.01
host_verifications                    0.01
host_has_profile_pic                  0.01
host_identity_verified                0.01
neighbourhood_cleansed                0.00
neighbourhood_group_cleansed          0.00
city                                  0.12
state                                 0.03
zipcode                               1.46
market                                0.26
country_code                          0.00
country                               0.00
property_type                         0.00
room_type                             0.00
accommodates                          0.00
bathrooms                             0.20
bedrooms                              0.10
beds                                  0.10
bed_type                              0.00
amenities                             0.00
square_feet                          98.96
price                                 0.00
guests_included                       0.00
extra_people                          0.00
minimum_nights                        0.00
maximum_nights                        0.00
number_of_reviews                     0.00
first_review                         20.53
last_review                          20.52
review_scores_rating                 22.75
review_scores_accuracy               22.84
review_scores_cleanliness            22.80
review_scores_checkin                22.89
review_scores_communication          22.83
review_scores_location               22.88
review_scores_value                  22.90
instant_bookable                      0.00
is_business_travel_ready              0.00
cancellation_policy                   0.00
require_guest_profile_picture         0.00
require_guest_phone_verification      0.00
calculated_host_listings_count        0.00
reviews_per_month                    20.53
dtype: float64

In [337]:
# Identified that "square_feet" and "host_acceptance_rate" are almost completely NA (98.96% and 100% NA)
# Dropped all features that are over 50% NA ("Notes")
# Dropped "experience_offered" as all cells are listed with "None" instead of NA value

trainDF = trainDF.drop(columns = ["experiences_offered","square_feet", "host_acceptance_rate", "notes"], axis=1)
trainDF.head()

,id,name,summary,space,description,neighborhood_overview,transit,access,interaction,house_rules,host_id,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_is_superhost,host_neighbourhood,host_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,neighbourhood_cleansed,neighbourhood_group_cleansed,city,state,zipcode,market,country_code,country,property_type,room_type,accommodates,bathrooms,bedrooms,beds,bed_type,amenities,price,guests_included,extra_people,minimum_nights,maximum_nights,number_of_reviews,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,15156865,"East 12th st, Lux Studio in Greenwich Village**",A 14-story luxury doorman building at the cent...,NaN,A 14-story luxury doorman building at the cent...,NaN,NaN,NaN,NaN,- Building management requires each new guest ...,22541573,Ken,2014-10-14,"New York, New York, United States","I work for Furnished Quarters, the largest pro...",within an hour,99%,t,Upper East Side,155.0,"['email', 'phone', 'reviews', 'jumio', 'kba', ...",t,t,East Village,Manhattan,New York,NY,10003.0,New York,US,United States,Serviced apartment,Entire home/apt,2,1.0,0.0,1.0,Real Bed,"{TV,Internet,Wifi,""Air conditioning"",Kitchen,G...",199.0,1,$0.00,30,1125,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,f,flexible,f,f,98,NaN
1,14744912,"sunny airy bohemian rm, private bath! hip 'shwick",A full private bathroom makes you very comfort...,"Large square room, full private bathroom in ha...",A full private bathroom makes you very comfort...,"Interesting street art, people watching, aweso...",We're less than one block away from the L trai...,coin-op laundry room in basement.,I will be available in person or online if you...,"For any questions you must contact us, do not ...",948164,Theodora,2011-08-09,"New York, New York, United States","I am a young professional in Brooklyn, NY. I h...",NaN,NaN,f,NaN,1.0,"['email', 'phone', 'reviews', 'jumio', 'govern...",t,t,Bushwick,Brooklyn,Brooklyn,NY,11237.0,New York,US,United States,Apartment,Private room,3,1.0,1.0,2.0,Real Bed,"{TV,Internet,Wifi,""Air conditioning"",Kitchen,""...",80.0,1,$10.00,2,300,4,2016-09-06,2018-04-30,95.0,10.0,10.0,10.0,10.0,10.0,10.0,t,f,strict_14_with_grace_period,f,f,1,0.15
2,20280692,"2 bedroom New York, Queens",Quiet 2 bedroom apartment minutes from Astoria...,NaN,Quiet 2 bedroom apartment minutes from Astoria...,NaN,NaN,NaN,NaN,NaN,46407533,Alba,2015-10-12,"New York, New York, United States",NaN,within an hour,100%,f,NaN,1.0,"['email', 'phone', 'reviews']",t,f,Ditmars Steinway,Queens,Queens,NY,11105.0,New York,US,United States,Apartment,Entire home/apt,4,1.0,2.0,3.0,Real Bed,"{TV,""Cable TV"",Wifi,""Air conditioning"",Kitchen...",160.0,1,$0.00,5,1125,2,2017-09-03,2018-09-02,100.0,10.0,10.0,8.0,9.0,9.0,10.0,t,f,flexible,f,f,1,0.14
3,3716193,Beautiful 2 Bedroom Townhouse,"Sunny, spacious, beautifully renovated 2 bedro...","Sunny, spacious, beautifully renovated 2 bedro...","Sunny, spacious, beautifully renovated 2 bedro...","Beautiful brownstones, strong community, block...",The A/C train on Nostrand Avenue is 7 minutes ...,"For your cooking needs, the kitchen is fully e...",Depends on the guest's preference but more tha...,"Please don't order pay-per-view movies, we hav...",18970667,"Erin, Avi, Kaleb & Shiloh",2014-07-27,"New York, New York, United States",We are a fun loving couple living in Bed-stuy ...,within an hour,100%,f,Bedford-Stuyvesant,1.0,"['email', 'phone', 'reviews', 'jumio', 'govern...",t,t,Bedford-Stuyvesant,Brooklyn,Brooklyn,NY,11216,New York,US,United States,Apartment,Entire home/apt,6,1.0,2.0,3.0,Real Bed,"{TV,""Cable TV"",Internet,Wifi,""Air conditioning...",100.0,2,$15.00,3,400,151,2014-08-09,2018-10-21,93.0,10.0,9.0,10.0,10.0,9.0,9.0,t,f,strict_14_with_grace_period,f,f,1,2.92
4,22410246,"Luxury 2 Bedroom, 2 Bathroom Apt with Roof & Gym","This luxury 2 bedroom, 2 bathroom apartment (1...",NaN,"This luxury 2 bedroom, 2 bathroom apartment (1...",NaN,NaN,NaN,NaN,NaN,54586794,Victoria,2016-01-14,"Paris, Île-de-France, France",NaN,NaN,NaN,f,Upper East Side,1.0,"['email', 'phone', 'reviews', 'jumio', 'govern...",t,t,Upper East Side,Manhattan,New York,NY,10022,New York,US,United States,Apartment,Entire home/apt,4,2.0,2.0,2.0,Real Bed,"{TV,Wifi,""Air conditioning"",Kitchen,Gym,Elevat...",250.0,1,$0.00,2,7,1,2017-12-31,2017-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,f,flexible,f,f,1,0.10

In [338]:
# Dropped columns that include textual summaries that vary depending on row (removed unstructured data with varying context)
# These columns include: "name", "summary", "space", "description", "neighborhood", "transit", "access", "interaction", "house_rules", "host_name", "host_about"
trainDF = trainDF.drop(columns=["name", "summary", "space", "description", "neighborhood_overview", "transit", "access", "interaction", "house_rules", "host_name", "host_about"], axis=1)
trainDF.head()

,id,host_id,host_since,host_location,host_response_time,host_response_rate,host_is_superhost,host_neighbourhood,host_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,neighbourhood_cleansed,neighbourhood_group_cleansed,city,state,zipcode,market,country_code,country,property_type,room_type,accommodates,bathrooms,bedrooms,beds,bed_type,amenities,price,guests_included,extra_people,minimum_nights,maximum_nights,number_of_reviews,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,15156865,22541573,2014-10-14,"New York, New York, United States",within an hour,99%,t,Upper East Side,155.0,"['email', 'phone', 'reviews', 'jumio', 'kba', ...",t,t,East Village,Manhattan,New York,NY,10003.0,New York,US,United States,Serviced apartment,Entire home/apt,2,1.0,0.0,1.0,Real Bed,"{TV,Internet,Wifi,""Air conditioning"",Kitchen,G...",199.0,1,$0.00,30,1125,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,f,flexible,f,f,98,NaN
1,14744912,948164,2011-08-09,"New York, New York, United States",NaN,NaN,f,NaN,1.0,"['email', 'phone', 'reviews', 'jumio', 'govern...",t,t,Bushwick,Brooklyn,Brooklyn,NY,11237.0,New York,US,United States,Apartment,Private room,3,1.0,1.0,2.0,Real Bed,"{TV,Internet,Wifi,""Air conditioning"",Kitchen,""...",80.0,1,$10.00,2,300,4,2016-09-06,2018-04-30,95.0,10.0,10.0,10.0,10.0,10.0,10.0,t,f,strict_14_with_grace_period,f,f,1,0.15
2,20280692,46407533,2015-10-12,"New York, New York, United States",within an hour,100%,f,NaN,1.0,"['email', 'phone', 'reviews']",t,f,Ditmars Steinway,Queens,Queens,NY,11105.0,New York,US,United States,Apartment,Entire home/apt,4,1.0,2.0,3.0,Real Bed,"{TV,""Cable TV"",Wifi,""Air conditioning"",Kitchen...",160.0,1,$0.00,5,1125,2,2017-09-03,2018-09-02,100.0,10.0,10.0,8.0,9.0,9.0,10.0,t,f,flexible,f,f,1,0.14
3,3716193,18970667,2014-07-27,"New York, New York, United States",within an hour,100%,f,Bedford-Stuyvesant,1.0,"['email', 'phone', 'reviews', 'jumio', 'govern...",t,t,Bedford-Stuyvesant,Brooklyn,Brooklyn,NY,11216,New York,US,United States,Apartment,Entire home/apt,6,1.0,2.0,3.0,Real Bed,"{TV,""Cable TV"",Internet,Wifi,""Air conditioning...",100.0,2,$15.00,3,400,151,2014-08-09,2018-10-21,93.0,10.0,9.0,10.0,10.0,9.0,9.0,t,f,strict_14_with_grace_period,f,f,1,2.92
4,22410246,54586794,2016-01-14,"Paris, Île-de-France, France",NaN,NaN,f,Upper East Side,1.0,"['email', 'phone', 'reviews', 'jumio', 'govern...",t,t,Upper East Side,Manhattan,New York,NY,10022,New York,US,United States,Apartment,Entire home/apt,4,2.0,2.0,2.0,Real Bed,"{TV,Wifi,""Air conditioning"",Kitchen,Gym,Elevat...",250.0,1,$0.00,2,7,1,2017-12-31,2017-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,f,flexible,f,f,1,0.10

In [351]:
# Dropped features that have little to no impact of prediction: "id", "host_id"
trainDF = trainDF.drop(columns=["id", "host_id"], axis=1)
trainDF.head()

,host_since,host_location,host_response_time,host_response_rate,host_is_superhost,host_neighbourhood,host_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,neighbourhood_cleansed,neighbourhood_group_cleansed,city,state,zipcode,market,country_code,country,property_type,room_type,accommodates,bathrooms,bedrooms,beds,bed_type,amenities,price,guests_included,extra_people,minimum_nights,maximum_nights,number_of_reviews,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month,missing_host_response_rate,missing_host_response_time
0,2014-10-14,"New York, New York, United States",within an hour,99.0,t,Upper East Side,155.0,"['email', 'phone', 'reviews', 'jumio', 'kba', ...",t,t,East Village,Manhattan,New York,NY,10003.0,New York,US,United States,Serviced apartment,Entire home/apt,2,1.0,0.0,1.0,Real Bed,"{TV,Internet,Wifi,""Air conditioning"",Kitchen,G...",199.0,1,$0.00,30,1125,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,f,flexible,f,f,98,NaN,0,0
1,2011-08-09,"New York, New York, United States",missing,86.0,f,NaN,1.0,"['email', 'phone', 'reviews', 'jumio', 'govern...",t,t,Bushwick,Brooklyn,Brooklyn,NY,11237.0,New York,US,United States,Apartment,Private room,3,1.0,1.0,2.0,Real Bed,"{TV,Internet,Wifi,""Air conditioning"",Kitchen,""...",80.0,1,$10.00,2,300,4,2016-09-06,2018-04-30,95.0,10.0,10.0,10.0,10.0,10.0,10.0,t,f,strict_14_with_grace_period,f,f,1,0.15,1,1
2,2015-10-12,"New York, New York, United States",within an hour,100.0,f,NaN,1.0,"['email', 'phone', 'reviews']",t,f,Ditmars Steinway,Queens,Queens,NY,11105.0,New York,US,United States,Apartment,Entire home/apt,4,1.0,2.0,3.0,Real Bed,"{TV,""Cable TV"",Wifi,""Air conditioning"",Kitchen...",160.0,1,$0.00,5,1125,2,2017-09-03,2018-09-02,100.0,10.0,10.0,8.0,9.0,9.0,10.0,t,f,flexible,f,f,1,0.14,0,0
3,2014-07-27,"New York, New York, United States",within an hour,100.0,f,Bedford-Stuyvesant,1.0,"['email', 'phone', 'reviews', 'jumio', 'govern...",t,t,Bedford-Stuyvesant,Brooklyn,Brooklyn,NY,11216,New York,US,United States,Apartment,Entire home/apt,6,1.0,2.0,3.0,Real Bed,"{TV,""Cable TV"",Internet,Wifi,""Air conditioning...",100.0,2,$15.00,3,400,151,2014-08-09,2018-10-21,93.0,10.0,9.0,10.0,10.0,9.0,9.0,t,f,strict_14_with_grace_period,f,f,1,2.92,0,0
4,2016-01-14,"Paris, Île-de-France, France",missing,86.0,f,Upper East Side,1.0,"['email', 'phone', 'reviews', 'jumio', 'govern...",t,t,Upper East Side,Manhattan,New York,NY,10022,New York,US,United States,Apartment,Entire home/apt,4,2.0,2.0,2.0,Real Bed,"{TV,Wifi,""Air conditioning"",Kitchen,Gym,Elevat...",250.0,1,$0.00,2,7,1,2017-12-31,2017-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,f,flexible,f,f,1,0.10,1,1

In [339]:
# [host_response_rate] 

# Convert features from precentages (strings) to floats
trainDF["host_response_rate"] = trainDF["host_response_rate"].str.rstrip("%").astype(float)

median_response_rate = trainDF.loc[trainDF["host_response_rate"] < 100, "host_response_rate"].median() # since the distribution heavily-right skewed, median is calculated with values less than 100
trainDF["missing_host_response_rate"] = trainDF["host_response_rate"].isna().astype(int) # created another column to account for missing host_response_rates values (1 for present, 0 for missing)

# Replaced "host_response_rate" NA values with median value
trainDF["host_response_rate"] = trainDF["host_response_rate"].fillna(median_response_rate)


# "missing_host_response_rate" highlights rows that were previously NA/ NULL
trainDF[["host_response_rate", "missing_host_response_rate"]].head(5)

   host_response_rate  missing_host_response_rate
0                99.0                           0
1                86.0                           1
2               100.0                           0
3               100.0                           0
4                86.0                           1

In [342]:
# [host_response_time]

# Created "missing_host_response_time" to account for missing host_response_rates values (1 for present, 0 for missing)
trainDF["missing_host_response_time"] = trainDF["host_response_time"].isna().astype(int)
display(trainDF[["missing_host_response_time"]].value_counts())

# Add a "missing" cell for NA values in "host_response_time"
trainDF["host_response_time"] = trainDF["host_response_time"].fillna("missing")

# Encoded values using Ordinal encoder
oe = OrdinalEncoder()
categories = [["missing", "within an hour", "within a few hours", "within a day", "within a few days or more"]]
oe.fit(categories)
oe.fit_transform(trainDF[["host_response_time"]])

display(trainDF[["host_response_time", "missing_host_response_time"]].head())

missing_host_response_time
0                             13832
1                             12998
Name: count, dtype: int64

  host_response_time  missing_host_response_time
0     within an hour                           0
1            missing                           1
2     within an hour                           0
3     within an hour                           0
4            missing                           1

In [347]:
((trainDF.isna().sum()/ len(trainDF)) * 100).round(2)

id                                   0.00
host_id                              0.00
host_since                           0.01
host_location                        0.32
host_response_time                   0.00
host_response_rate                   0.00
host_is_superhost                    0.01
host_neighbourhood                  14.07
host_listings_count                  0.01
host_verifications                   0.01
host_has_profile_pic                 0.01
host_identity_verified               0.01
neighbourhood_cleansed               0.00
neighbourhood_group_cleansed         0.00
city                                 0.12
state                                0.03
zipcode                              1.46
market                               0.26
country_code                         0.00
country                              0.00
property_type                        0.00
room_type                            0.00
accommodates                         0.00
bathrooms                            0.20
bedrooms                             0.10
beds                                 0.10
bed_type                             0.00
amenities                            0.00
price                                0.00
guests_included                      0.00
extra_people                         0.00
minimum_nights                       0.00
maximum_nights                       0.00
number_of_reviews                    0.00
first_review                        20.53
last_review                         20.52
review_scores_rating                22.75
review_scores_accuracy              22.84
review_scores_cleanliness           22.80
review_scores_checkin               22.89
review_scores_communication         22.83
review_scores_location              22.88
review_scores_value                 22.90
instant_bookable                     0.00
is_business_travel_ready             0.00
cancellation_policy                  0.00
require_guest_profile_picture        0.00
require_guest_phone_verification     0.00
calculated_host_listings_count       0.00
reviews_per_month                   20.53
missing_host_response_rate           0.00
missing_host_response_time           0.00
dtype: float64

In [349]:
trainDF["host_neighbourhood"].value_counts()

host_neighbourhood
Williamsburg                                                                                                                                                                2011
Bedford-Stuyvesant                                                                                                                                                          1580
Bushwick                                                                                                                                                                    1166
Hell's Kitchen                                                                                                                                                              1015
Upper East Side                                                                                                                                                              952
Upper West Side                                                                                                                                                              929
Harlem                                                                                                                                                                       916
Crown Heights                                                                                                                                                                735
Astoria                                                                                                                                                                      624
East Village                                                                                                                                                                 557
East Harlem                                                                                                                                                                  520
Greenpoint                                                                                                                                                                   502
Lower East Side                                                                                                                                                              492
Chelsea                                                                                                                                                                      481
Washington Heights                                                                                                                                                           429
Park Slope                                                                                                                                                                   421
Hamilton Heights                                                                                                                                                             417
Clinton Hill                                                                                                                                                                 394
Alphabet City                                                                                                                                                                369
Flatbush                                                                                                                                                                     363
Midtown East                                                                                                                                                                 355
West Village                                                                                                                                                                 338
Midtown                                                                                                                                                                      264
Jamaica                                                                                                                                                                      243
Gramercy Park                                                                                                                                                                225
Financial District                                                                                                                                                           223
Lefferts Garden                                                                                                                                                              217
Murray Hill                                                                                                                                                                  192
Kips Bay                                                                                                                                                                     191
Ridgewood                                                                                                                                                                    188
Greenwich Village                                                                                                                                                            178
Fort Greene                                                                                                                                                                  174
Chinatown                                                                                                                                                                    164
Prospect Heights                                                                                                                                                             163
Sunnyside                                                                                                                                                                    163
Morningside Heights                                                                                                                                                          153
Soho                                                                                                                                                                         151
Sunset Park                                                                                                                                                                  151
Nolita                                                                                                                                                                       142
East Flatbush                                                                                                                                                                139
Flushing                                                                                                                                                                     138
Boerum Hill                                                                                                                                                                  127
East New York                                                                                                                                                                126
The Rockaways                                                                                                                                                                120
Carroll Gardens                                                                                                                                                              115
Elmhurst                                                                                                                                                                     105
Jackson Heights                                                                                                                                                              104
Gowanus                                                                                                                                                                      101
Tribeca                                                                                                                                                                      100
Greenwood Heights                                                                                                                                                             99
Long Island City                                                                                                                                                              99
Flatiron District                                                                                                                                                             99
Ditmars / Steinway                                                                                                                                                            84
Bay Ridge                                                                                                                                                                     81
Windsor Terrace                                                                                                                                                               79
Times Square/Theatre District                                                                                                                                                 75
Forest Hills                                                                                                                                                                  72
Woodside                                                                                                                                                                      72
Brooklyn Heights                                                                                                                                                              71
Fenway/Kenmore                                                                                                                                                                69
Inwood                                                                                                                                                                        68
Kensington                                                                                                                                                                    64
Sheepshead Bay                                                                                                                                                                63
Midwood                                                                                                                                                                       62
Downtown Brooklyn                                                                                                                                                             57
Canarsie                                                                                                                                                                      55
Richmond Hill                                                                                                                                                                 55
Gay Village                                                                                                                                                                   52
Cobble Hill                                                                                                                                                                   42
Corona                                                                                                                                                                        41
Red Hook                                                                                                                                                                      40
Woodhaven                                                                                                                                                                     39
Rego Park                                                                                                                                                                     37
Roosevelt Island                                                                                                                                                              37
Union Square                                                                                                                                                                  36
Mott Haven                                                                                                                                                                    35
Maspeth                                                                                                                                                                       34
DUMBO                                                                                                                                                                         32
Brooklyn Navy Yard                                                                                                                                                            29
Noho                                                                                                                                                                          28
Gravesend                                                                                                                                                                     28
Baychester                                                                                                                                                                    28
Little Italy                                                                                                                                                                  28
Bensonhurst                                                                                                                                                                   27
Battery Park City                                                                                                                                                             26
East Elmhurst                                                                                                                                                                 25
Brighton Beach                                                                                                                                                                25
Concourse                                                                                                                                                                     23
Flatlands                                                                                                                                                                     23
Ozone Park                                                                                                                                                                    22
Bayside                                                                                                                                                                       21
Riverdale                                                                                                                                                                     20
Glendale                                                                                                                                                                      20
St. George                                                                                                                                                                    20
Port Morris                                                                                                                                                                   19
Borough Park                                                                                                                                                                  19
Stapleton                                                                                                                                                                     18
West Brighton                                                                                                                                                                 18
Brownsville                                                                                                                                                                   18
Kew Garden Hills                                                                                                                                                              17
Middle Village                                                                                                                                                                17
Meatpacking District                                                                                                                                                          16
Soundview                                                                                                                                                                     16
Cambridge                                                                                                                                                                     15
Columbia Street Waterfront                                                                                                                                                    15
Tompkinsville                                                                                                                                                                 14
Hudson Square                                                                                                                                                                 14
South Ozone Park                                                                                                                                                              14
Wakefield                                                                                                                                                                     14
Utopia                                                                                                                                                                        13
Hillcrest                                                                                                                                                                     13
University Heights                                                                                                                                                            13

Data Quality Issues

In terms of data quality issues, this dataset has many missing/ NA values as well as context dependent data. For example, features such as "summary" and "description" are textual data, specific to each listing and can't be used as a comparison metric.

# 1. Model Training (60 points)

Train at least 3 models. You can evaluate more than 3 models and apply your own cross-validation approach to choose the top three models to submit to Kaggle. For each model, include a short write up on each model (desc of selected model, evaluation approach applied, how did you select hyperparameters).

In [356]:
# Model 1 - Linear Regression

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

[INSERT WRITE-UP HERE]

In [344]:
# Model 2

[INSERT WRITE-UP HERE]

In [345]:
# Model 3

[INSERT WRITE-UP HERE]

# 2. Plotting (10 points)

In [346]:
# Plot results here
# [INSERT CODE HERE]

[INSERT WRITE-UP HERE]

# 3. Discussion (10 points)

# include a short discussion about results and approach.

Note, the rest of the points are based on Kaggle submission and ranking.

# References / Disclosure

[List the sources you used to complete this assignment here]